body {
    background-color: ivory;

  }
  h1 {
    color: #555555;
    font-family: 'Source Code Pro', monospace;
    font-size: 300%;
    
  }
  p {
    color: #777777;
    font-family: 'Source Code Pro', monospace;
    font-size: 160%;
    
  }
  button {
      color: #555588;
      background-color: transparent;
      border: transparent;
      font-family: 'Source Code Pro', monospace;
      font-size: 120%;
      
  }
  #Setup{
      color: #555555;
      font-family: 'Source Code Pro', monospace;
      font-size: 160%;
      
      
  }
  #subsetup{
      font-size: 100%;
      ;
  }
  .parent {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .child {
    margin-top: auto;
  }
  

